In [5]:
import pandas as pd
import numpy as np
import yfinance as yf
import json
import time 
import matplotlib.pyplot as plt

In [6]:
combine = pd.read_csv("Output/SummaryStockData.csv")

## Financials of IT industry vs other Industry (Vincent)

## For loop to extract Financials

In [7]:
symbols = combine["Symbol"].to_list()

In [8]:
list_of_df = []

print("Begin Extraction of Ticker")
tech = ['AAPL', 'AMZN', 'NFLX', 'GOOGL', 'MSFT', 'NVDA', 'TSLA']

for symbol in tech:

    extract = yf.Ticker(symbol)
    financials = extract.financials
    financials = financials.transpose()
    importance = ["Net Income", "Other Operating Expenses", "Research Development", "Gross Profit"]

    isolate = financials[importance]

    isolate.loc[:,"Symbol"] = symbol 

    list_of_df.append(isolate)

    print(f"{symbol} has been extracted")

Begin Extraction of Ticker

/var/folders/4g/011mcyls15v476x5cqlrm5sm0000gn/T/ipykernel_7098/2679860691.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isolate.loc[:,"Symbol"] = symbol

AAPL has been extracted

/var/folders/4g/011mcyls15v476x5cqlrm5sm0000gn/T/ipykernel_7098/2679860691.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isolate.loc[:,"Symbol"] = symbol

AMZN has been extracted

/var/folders/4g/011mcyls15v476x5cqlrm5sm0000gn/T/ipykernel_7098/2679860691.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isolate.loc[:,"Symbol"] = symbol

NFLX has been extracted

/var/folders/4g/011mcyls15v476x5cqlrm5sm0000gn/T/ipykernel_7098/2679860691.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isolate.loc[:,"Symbol"] = symbol

GOOGL has been extracted

/var/folders/4g/011mcyls15v476x5cqlrm5sm0000gn/T/ipykernel_7098/2679860691.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isolate.loc[:,"Symbol"] = symbol

MSFT has been extracted

/var/folders/4g/011mcyls15v476x5cqlrm5sm0000gn/T/ipykernel_7098/2679860691.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isolate.loc[:,"Symbol"] = symbol

NVDA has been extracted
TSLA has been extracted

/var/folders/4g/011mcyls15v476x5cqlrm5sm0000gn/T/ipykernel_7098/2679860691.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isolate.loc[:,"Symbol"] = symbol

In [9]:
consolidated_financials = pd.concat(list_of_df, axis = 0)

In [10]:
for column in importance:
    consolidated_financials[column] = consolidated_financials[column].astype(str)
    consolidated_financials[column] = consolidated_financials[column].str.replace("None", '0')
    consolidated_financials[column] = consolidated_financials[column].astype(float)

In [11]:
# Convert to dataframe
consolidated_financials = pd.DataFrame(consolidated_financials)

In [12]:
consolidated_financials.head()

,Net Income,Other Operating Expenses,Research Development,Gross Profit,Symbol
,,,,,
2022-09-24,9.980300e+10,0.0,2.625100e+10,1.707820e+11,AAPL
2021-09-25,9.468000e+10,0.0,2.191400e+10,1.528360e+11,AAPL
2020-09-26,5.741100e+10,0.0,1.875200e+10,1.049560e+11,AAPL
2019-09-28,5.525600e+10,0.0,1.621700e+10,9.839200e+10,AAPL
2021-12-31,3.336400e+10,62000000.0,5.605200e+10,1.974780e+11,AMZN

## Growth Rate

In [13]:
growth_data = consolidated_financials

In [14]:
growth_data.reset_index(inplace=True)

In [15]:
# Create array to store percent change for each stock
growth_rate = []

# Initiliaze start and end parameters
start = 0
end = 4 

# Calculate growth rate for each stock based on 4 year period
for row in range(0,len(growth_data),4):
    growth_rate.append(growth_data.iloc[start : end]['Net Income'].pct_change().mul(100))
    
    start += 4
    end += 4

In [16]:
growth_data["Growth Rate"] = (growth_data.groupby('Symbol')['Net Income'].apply(pd.Series.pct_change)+1)

In [17]:
growth_data.head(8)

,,Net Income,Other Operating Expenses,Research Development,Gross Profit,Symbol,Growth Rate
0,2022-09-24,9.980300e+10,0.0,2.625100e+10,1.707820e+11,AAPL,NaN
1,2021-09-25,9.468000e+10,0.0,2.191400e+10,1.528360e+11,AAPL,0.948669
2,2020-09-26,5.741100e+10,0.0,1.875200e+10,1.049560e+11,AAPL,0.606369
3,2019-09-28,5.525600e+10,0.0,1.621700e+10,9.839200e+10,AAPL,0.962464
4,2021-12-31,3.336400e+10,62000000.0,5.605200e+10,1.974780e+11,AMZN,NaN
5,2020-12-31,2.133100e+10,-75000000.0,4.274000e+10,1.527570e+11,AMZN,0.639342
6,2019-12-31,1.158800e+10,201000000.0,3.593100e+10,1.149860e+11,AMZN,0.543247
7,2018-12-31,1.007300e+10,296000000.0,2.883700e+10,9.373100e+10,AMZN,0.869261

In [18]:
growth_data.dropna().head(6)

,,Net Income,Other Operating Expenses,Research Development,Gross Profit,Symbol,Growth Rate
1,2021-09-25,9.468000e+10,0.0,2.191400e+10,1.528360e+11,AAPL,0.948669
2,2020-09-26,5.741100e+10,0.0,1.875200e+10,1.049560e+11,AAPL,0.606369
3,2019-09-28,5.525600e+10,0.0,1.621700e+10,9.839200e+10,AAPL,0.962464
5,2020-12-31,2.133100e+10,-75000000.0,4.274000e+10,1.527570e+11,AMZN,0.639342
6,2019-12-31,1.158800e+10,201000000.0,3.593100e+10,1.149860e+11,AMZN,0.543247
7,2018-12-31,1.007300e+10,296000000.0,2.883700e+10,9.373100e+10,AMZN,0.869261

## Debt/Equity & Profit Margins

In [19]:
# Array for 7 tech stocks
each_symbol = growth_data['Symbol'].unique()

# Arrays to store vales of each stock
debt_to_equity = []
profit_margin = []

for symbol in each_symbol:
#   Debt/Equity ratio for each stock  
    debt_to_equity.append(yf.Ticker(symbol).info['debtToEquity'])

#   Profit Margin for each stock
    profit_margin.append(yf.Ticker(symbol).info['profitMargins'] * 100)

In [20]:
final_df = growth_data.iloc[1::4]

In [21]:
final_df['Debt/Equity'] = debt_to_equity
final_df['Profit Margin'] = profit_margin

/var/folders/4g/011mcyls15v476x5cqlrm5sm0000gn/T/ipykernel_7098/2169584726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Debt/Equity'] = debt_to_equity
/var/folders/4g/011mcyls15v476x5cqlrm5sm0000gn/T/ipykernel_7098/2169584726.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Profit Margin'] = profit_margin

In [22]:
final_df = final_df.reindex(columns = ['', 'Net Income', 'Other Operating Expenses', 'Research Development',
       'Gross Profit', 'Growth Rate', 'Debt/Equity',
       'Profit Margin', 'Symbol'])

In [23]:
final_df

,,Net Income,Other Operating Expenses,Research Development,Gross Profit,Growth Rate,Debt/Equity,Profit Margin,Symbol
1,2021-09-25,9.468000e+10,0.0,2.191400e+10,1.528360e+11,0.948669,261.446,25.310000,AAPL
5,2020-12-31,2.133100e+10,-75000000.0,4.274000e+10,1.527570e+11,0.639342,119.525,2.255000,AMZN
9,2020-12-31,2.761395e+09,0.0,1.829600e+09,9.719737e+09,0.539733,80.047,16.027000,NFLX
13,2020-12-31,4.026900e+10,0.0,2.757300e+10,9.779500e+10,0.529625,11.567,23.746000,GOOGL
17,2021-06-30,6.127100e+10,0.0,2.071600e+10,1.158560e+11,0.842352,44.442,34.366000,MSFT
21,2021-01-31,4.332000e+09,0.0,3.924000e+09,1.055700e+10,0.444217,55.759,20.853001,NVDA
25,2020-12-31,7.210000e+08,-27000000.0,1.491000e+09,6.630000e+09,0.130640,14.284,14.947000,TSLA